<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">首页</title>
    <meta http-equiv="refresh" content="0; url=/chat">
</head>
<body>
<th:block layout:fragment="content">
    <div style="text-align:center;padding:80px 24px;">
        <div style="font-size:48px;margin-bottom:16px;">⏳</div>
        <p style="color:#909296;">正在跳转到对话页面...</p>
    </div>
</th:block>
</body>
</html>